<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yellow Pages</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{url_for('index')}}">Home</a>
            <a class="nav-item nav-link" href="{{url_for('add')}}">Add Company</a>
            <a class="nav-item nav-link" href="{{url_for('display')}}">Display Companies</a>
            <a class="nav-item nav-link" href="{{url_for('delete')}}">Delete Company</a>
        </div>
    </nav>
    <h1>Company Yellow Pages</h1>
    {% block content %}

    {% endblock %}

</body>
</html>